.body {
  padding: 1em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.video {
  background-color: rgb(255, 255, 255);
}

.comment-img {
  border-radius: 50%;
  display: block;
  float: left;
  padding: 10px;
}
.comment-date {
  padding-top: 10px;
}
.comment-text {
  padding-left: 10px;
}
.like-img {
  width: 20px;
  justify-self: end;
  padding-left: 300px;
}

.dislike-img {
  padding-left: 10px;
  width: 20px;
}

.reply-button {
  display: block;
}
.youtube-logo {
  width: 100px;
  justify-self: center;
}
.suggestions {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

/* Add a black background color to the top navigation */
.navigation {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
